<!doctype html>
<html>
<head> <% include partials/template/head %> </head>

<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id%><br>
						<strong>First name</strong>: <%= user.firstname %><br>
						<strong>Last name</strong>: <%= user.lastname %><br>
						<strong>Email</strong>: <%= user.email %><br>
						<strong>Password</strong>: <%= user.password %>
					</p>

			</div>
		</div>

		<!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="word-wrap:break-word;">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <p>
                    <strong>fid</strong>: <%= user.auth_id %><br>
                    <strong>First name</strong>: <%= user.firstname %><br>
					<strong>Last name</strong>: <%= user.lastname %><br>
                    <strong>Token</strong>: <%= user.token %><br>
                    <strong>Email</strong>: <%= user.email %><br>
                    <strong>Email2</strong>: <%= user.email2 %>
                </p>
            </div>
        </div>
	</div>

</div>
</body>
</html>